# JSON version of coverage report
coverage/coverage.json

# Installed npm modules
node_modules
package-lock.json
*.log

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# VSCode folder
.vscode/*
!.vscode/settings.default.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Secrets
.env
!.env.sample
!.env.example

# Build output
#dist/
